{% extends 'base.html' %}

{% block content %}

<h1>{{ shoe.name }}</h1>

{% if current_user.is_authenticated %}
    {% if shoe not in current_user.favorite_shoes %}
    <form action="/favorite_shoe/{{ shoe.id }}" method="POST">
        <input type="submit" value="Favorite This Shoe">
    </form>
    {% else %}
    <form action="/unfavorite_shoe/{{ shoe.id }}" method="POST">
        <input type="submit" value="Unfavorite This Shoe">
    </form>
    {% endif %}
{% endif %}

<p>
    <strong>Manufacturer Country</strong>: {{ shoe.manufacturer.country }}
</p>

<p>
    <strong>Model Year</strong>: {{ shoe.model_year }}
</p>

<p>
    <strong>Size</strong>: {{ shoe.size }}
</p>

<p>
    <strong>Category</strong>: {{ shoe.category.name }}
</p>

<form method="POST" action="{{ url_for('main.shoe_detail', shoe_id=shoe.id) }}">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Edit this shoe</legend>

        {{ form.name.label }}
        {{ form.name }}

        {{ form.year.label }}
        {{ form.year }}

        {{ form.size.label }}
        {{ form.size }}

        {{ form.category.label }}
        {{ form.category }}

        {{ form.manufacturer.label }}
        {{ form.manufacturer }}

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}
